html, body{
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway", sans-serif;
  color: #333;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10 px;
}

.main{
  position: relative;
  top: 120px;
  text-align: center;
}

.main h1{
  font-weight: 600px;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 30px;
}

.main h2{
  font-weight: 600px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 60px;
}

.btn-main{
  background-color: #333;
  border-radius: 13px;
  color: #e75225;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1.3px;
  padding: 16px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.info {
  padding-top: 200px;
  padding-bottom: 100px;
}

.info .col{
  float: left;
  width: 33%;
  text-align: center;
}

.info h2 {
  font-weight: 600px;
  font-size: 28px;
  text-transform: uppercase;
}

.info p{
  font-weight: 400px;
  font-size: 20px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 100px;
}

.clearfix{
  clear: both;
}

.footer{
  background-color: #333;
  position: relative;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.footer p{
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
