<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Raleway">
    <title>LectureQ</title>
  </head>
<body>
  <div class=maintext>
    <div class=container>
      <div class=main>
        <h1>This is LectureQ</h1>
        <h2>A platform that aims to answer all your FAQs as well as making communications bewtween teacher and student
          easier during lectures.</h2>
        <a class="btn-main" href="http://localhost:4200/register">Get started</a>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="container">

      <div class="col">
        <h2>FAQ-bot</h2>
        <p>Ask any FAQ and get the answer immediately. Anytime and anywhere.</p>
        </div>

      <div class="col">
        <h2>Question feed</h2>
        <p>Ask about anything that comes to your mind during a lecture, or upvote relevant questions from other students.</p>
      </div>

      <div class="col">
        <h2>Intuitive interface</h2>
        <p>Register and sign in as a student and get instant access to your subjects and their respective bots.</p>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; LectureQ 2017</p>
    </div>
  </div>

</body>
</html>
