<!-- Top part of code will only show if we run in to a error -->
<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
<div class="modal-dialog">

  <!-- Start of register container -->
  <div class="registermodal-container">
    <h1>Register</h1><br>

    <!-- Start of registration form -->
    <form class="form-signin">
      <label for="name" class="sr-only">Name</label>
      <input #name type="text" id="name" class="form-control" placeholder="Name" required="">
      <label for="email" class="sr-only">Email address</label>
      <input #email type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <label for="confirmPassword" class="sr-only">Repeat Password</label>
      <input #repeatedpassword type="password" id="repeatedPassword" class="form-control" placeholder="Repeat Password" required="">
      <br>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">

          <!-- Button for registrating as a student -->
          <button type="button" class="btn btn-md btn-primary btn-block" (click)="register($event, name.value, email.value, password.value, repeatedpassword.value,false)">Register as Student</button>
        </div>
        <div class="btn-group" role="group">

          <!-- Button for registrating as a lecturer -->
          <button type="button" class="btn btn-md btn-primary btn-block" (click)="register($event, name.value, email.value, password.value, repeatedpassword.value,true)">Register as Lecturer</button>
        </div>
      </div>
    </div>
  </body>
</html>
