html, body{
  margin: 0;
  padding: 0;
}

nav a {
  font-family: "Raleway", sans-serif;
  color: DarkGrey;
}

.navbar-default{
  background-color: #333;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: DarkGrey;
}
