html, body{
  margin: 0;
  padding: 0;
}

* {
  font-family: "Raleway", sans-serif;
  color: #333;
}

.btn-group {
  margin-bottom: 5px;
}

.search-subject-container {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

.myCourses {
  width: 80%;
}
