html, body{
  margin: 0;
  padding: 0;
}

#endSession{
  max-width: 200px;
  margin-top: 20px;
}

.btn{
  font-family: "Raleway", sans-serif;
  color: #333;
}

.bs-example {
  font-family: "Raleway", sans-serif;
  position: relative;
  padding: 15px 15px 15px;
  margin: 0 -15px 0px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  background-color: #E1E2E3;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  height: 60vh;
  overflow-y: scroll;
}
#messages {
  font-family: "Raleway", sans-serif;
  background-color: #2d384a !important;
}
.message {
  font-family: "Raleway", sans-serif;
  width: 95%;
}
.author {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
.send-message {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #428BCA;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
}
.ask-question {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #428BCA;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
}

.message-text {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 98%;
}
.message-edit {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 93%;
}

.question-text{
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 98%;
}
.message-edit {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 93%;
}
p {
  font-size: 16px;
}



.question{
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  padding: 10px 18px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
  clear: both;
}
.response{
  font-family: "Raleway", sans-serif;
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  padding: 10px 18px;
  margin-bottom: 5px;
  display: inline-block;
  float: left;
  clear: both;
}

.bubble{
  font-family: "Raleway", sans-serif;
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}
.me {
  font-family: "Raleway", sans-serif;
  display: inherit;
  margin: 5px 20px 5px 20px;
}
.me::before {

}
.you {
  font-family: "Raleway", sans-serif;
  display: inherit;
  margin: 5px 20px 5px 20px;
}
.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
  font-family: "Raleway", sans-serif;
  margin: 0px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}
.highlight {
  font-family: "Raleway", sans-serif;
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.up-vote {
  position: right;
  float: right;
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #428BCA;
  border-radius: 30px;
  min-width: 40px;
  min-height: 40px;
  border-width: 0;
}

.courseTitle {
  left: 50%;
  text-align: center;
}

.backButton {
  float: left;
  padding-left: 20px;
  position: absolute;
}
